header {
  position: flex;
  height: 100vh;
  background: url(images/coffeBG-unsplash.jpg) center / cover;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.navbar {
  align-items: center;
  padding: 2rem;
}
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.nav-link {
  border-radius: 0.5rem;
}
.navbar-brand:hover,
.nav-link:hover {
  background-color: #5f5f5f9a;
  color: #d0eeff;
  border-radius: 0.25rem;
}
h1 {
  font-size: 4rem;
<<<<<<< HEAD
  padding: 1.25rem;
=======
  padding: 1rem;
>>>>>>> c514c9a6650de453244897fcb33aa5f34b8dcdd9
  text-align: center;
  margin: auto;
  -webkit-text-stroke: 1px #2f29e09b;
  text-shadow: 1rem 0.5rem 1.5rem #5751ff9b;
  border-bottom: 0.25rem solid #8a87d74d;
<<<<<<< HEAD
  transition: background-color 0.4s ease;
  border-radius: 0.5rem;
}
h1:hover{
  background-color: #69696979;
=======
>>>>>>> c514c9a6650de453244897fcb33aa5f34b8dcdd9
}
.headerSub {
  background-color: #5f5f5f9a;
  backdrop-filter: blur(7px);
  height: 50%;
<<<<<<< HEAD
  margin: 0;
=======
  margin-top: auto;
>>>>>>> c514c9a6650de453244897fcb33aa5f34b8dcdd9
}

.aboutRow {
  height: 100%;
  display: flex;
  align-items: center;
<<<<<<< HEAD
  justify-content: space-between;
  padding: 5%;
  gap: 10%;
  transition: background-color 0.4s ease;
}

.aboutRow:hover{
  background-color: #78787849;
=======
  justify-content: space-around;
  padding: 5%;
  gap: 10%;
>>>>>>> c514c9a6650de453244897fcb33aa5f34b8dcdd9
}

.devFunctionCol {
  border: 0.25rem outset rgb(46, 101, 211);
  background-color: #0e00a93c;
  box-shadow: 1rem 0.5rem 1.5rem #5751ff9b;
<<<<<<< HEAD
  transition: background-color 0.4s ease;
}

.devFunctionCol:hover {
  background-color: #0e00a9a0;
=======
>>>>>>> c514c9a6650de453244897fcb33aa5f34b8dcdd9
}

.devFunction {
  color: white;
<<<<<<< HEAD
  /* text-align: center; */
=======
  text-align: center;
>>>>>>> c514c9a6650de453244897fcb33aa5f34b8dcdd9
  font-size: 5rem;
  font-weight: bold;
}

<<<<<<< HEAD
.aboutCol{
  padding: 0.5rem;
  transition: background-color 0.4s ease;
  border-radius: 0.25rem;
}
.aboutCol:hover{
  background-color: #69696979;
}

=======
>>>>>>> c514c9a6650de453244897fcb33aa5f34b8dcdd9
.aboutText {
  text-align: justify;
}

header .styleJV {
  background-color: #ff0015;
}

header .styleJS {
<<<<<<< HEAD
  background-color: #ddad00;
=======
  background-color: #fbff00;
  color: black;
>>>>>>> c514c9a6650de453244897fcb33aa5f34b8dcdd9
}

header .stylePY {
  background-color: #4800ff;
}

.styleEnph,
.styleTech {
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  color: white;
}

.styleEnph{
<<<<<<< HEAD
  background-color: #fff;
  font-weight: bold;
  color: black;
=======
  background-color: #a01bff;
  font-weight: bold;
>>>>>>> c514c9a6650de453244897fcb33aa5f34b8dcdd9
}

.carouselProjectImage:hover {
  animation: boxShadowDark 0.3s ease forwards;
}

@keyframes boxShadowDark {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: 5px 5px 10px #2d1d64;
  }
}
